<ul class="contacts">
    {% for user in contacts %}
        <li>
            <a href="{{ path('update_contact', {id: user.id}) }}">
                <span class="material-symbols-outlined">edit</span>
            </a>
            <a href="{{ path('delete_contact', {id: user.id}) }}">
                <span class="material-symbols-outlined">delete</span>
            </a>
            <a href="{{ path('detail_contact', {id: user.id}) }}">
                <span class="lastname">{{ user.lastname }}</span>
                <span class="firstname">{{ user.firstname }}</span>
            </a>

            {% if show_category ?? true %}
                {% if user.category is not null %}
                    <a class="nav-link badge bg-secondary" href="{{ path('contact_categorie', {id: user.category.id }) }}">{{ user.category.name }}</a>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>




