{% extends 'base.html.twig' %}

{% set nom_prenom_contact = contact.lastname~ ', ' ~contact.firstname  %}

{% block title %}Suppression de {{nom_prenom_contact}}{% endblock %}

{% block body %}
    <h1>Suppression de {{nom_prenom_contact}}</h1>
    {{ form_start(form) }}
    {{ form_row(form.delete, {'label': 'Supprimer', 'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_row(form.cancel, {'label': 'Annuler', 'attr': {'class': 'btn btn-secondary'}}) }}
    {{ form_end(form) }}

{% endblock %}

