{% extends 'base.html.twig' %}

{% block title %}
    Hello {{ name }}!
{% endblock %}

{% set color = ["red", "green"] %}

{% block body %}
    <h1>Hello {{ name }}!</h1>
    {% for i in 1..10 %}
        <p style = color:{{ cycle(color, i) }}>Hello {{ name |capitalize}}! ({{ i | format_number({min_integer_digit: 2}) }})</p>
    {% endfor %}
{% endblock %}
